# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.project
.cproject
cxxtest-4.3.tar.gz
bin/main
*.pyc
doc/*
test/runner.cpp
bin/test
build/gen/runner.cpp
build/gen/TinyMath.cxxtest.cpp

